{% extends "layout.html" %}
{% block content %}
    <div class="controls-section">
        <form id="corrInputForm" method="post" action="{{ url_for('submit_form') }}">
            {{ form.hidden_tag() }}  <!-- CSRF token and hidden fields -->
            <fieldset class="d-flex flex-wrap align-items-end gap-3">
                <!-- Additional field to add individual tickers to selected tickers list -->
                <div class="form-group w-auto">
                    <label for="tickerInput">Add Ticker</label>
                    <input type="text" id="tickerInput"
                           placeholder="Input a ticker and press Enter" class="form-control ticker-input">
                </div>
                <div class="form-group">
                    {{ form.start_date.label(class="form-control-label") }}
                    {{ form.start_date(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.end_date.label(class="form-control-label") }}
                    {{ form.end_date(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.use_price_returns.label(class="form-control-label") }}
                    {{ form.use_price_returns(class_="bootstrap-switch-square") }}
                </div>
                <div class="form-group">
                    {{ form.adjust_for_corp_actions.label(class="form-control-label") }}
                    {{ form.adjust_for_corp_actions(class_="bootstrap-switch-square") }}
                </div>
            </fieldset>
            <div class="content-section">
                <div id="error" class="error-message"></div>
            </div>
            <div class="form-group">
                {{ form.submit(class_="btn btn-primary mt-3") }}
                <!-- Additional button to reset the selected tickers list -->
                <button type="button" id="clearButton" class="btn btn-secondary mt-3 ms-2">Clear</button>
            </div>
        </form>
        <div class="border-top pt-2 mt-3">
            <p id="selectedTickersDisplay" class="form-label text-muted">Selected tickers: </p>
        </div>
    </div>
    <div>
        <p class="text-left text-muted small">Source: Yahoo Finance</p>
        <div id="correlationMatrix" class="mb-4"></div>
    </div>

    <script>
        let tickers = [];

        // Event listener for when the user presses "Enter" in the ticker input field
        document.getElementById("tickerInput").addEventListener("keypress", function(event) {
            if (event.key === "Enter") {
                event.preventDefault();

                let ticker = this.value.trim().toUpperCase();
                let selectedTickersDisplay = document.getElementById("selectedTickersDisplay")
                let error = document.getElementById("error");

                if (!ticker) {
                    error.style.display = "none";
                    return;
                }

                // Make a POST request to verify the submitted ticker's validity
                fetch("{{ url_for('verify_ticker') }}", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ ticker: ticker, selected_tickers: tickers  })
                })
                .then(response => {
                    if (!response.ok) {
                        return response.text();
                    }
                })
                .then(data => {
                    if (data) {
                        // If the response is not ok, display the returned error message
                        error.textContent = data;
                        error.style.display = "block";
                    } else {
                        // Otherwise, add the ticker to the selected tickers list and update the display
                        tickers.push(ticker);
                        tickers.sort();

                        selectedTickersDisplay.innerText = "Selected tickers: " + tickers.join(", ");
                        error.style.display = "none";
                        this.value = "";
                    }
                })
                .catch(error => console.error("Error:", error));
            }
        });

        // Event listener for when the user clicks the "Clear" button
        document.getElementById("clearButton").addEventListener("click", function() {
            // Clear the selected tickers and the selected tickers display
            tickers = [];
            document.getElementById("selectedTickersDisplay").innerText = "Selected tickers: ";
            document.getElementById("tickerInput").value = "";
        });

        // Event listener for when the user submits the form
        document.getElementById("corrInputForm").addEventListener("submit", function(event) {
            event.preventDefault();

            let selectedTickers = document.getElementById("tickers");
            let correlationMatrix = document.getElementById("correlationMatrix")
            let error = document.getElementById("error");
            
            selectedTickers.value = JSON.stringify(tickers);

            // Make a POST request to submit the selected tickers
            fetch("{{ url_for('submit_form') }}", {
                method: "POST",
                body: new FormData(this),
            })
            .then(response => response.text().then(data => {
                if (!response.ok) {
                    // If the response is not ok, display the returned error message
                    error.textContent = data;
                    error.style.display = "block";
                } else {
                    // Otherwise, update the correlation matrix display
                    error.style.display = "none";
                    correlationMatrix.innerHTML = data;
                }
            }))
            .catch(error => console.error("Error:", error));
        });
    </script>

{% endblock content %}
