{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h3 class="section-heading border-bottom">About Stock Correlations App</h3>
        <p class="text-muted" style="text-align: justify;">
            Stock Correlations is a simple tool which calculates the correlations between selected stocks.
        </p>
        <h5 class="section-heading mt-4 mb-2">Computing Correlations</h5>
        <p class="text-muted" style="text-align: justify;">
            To compute correlations, start by entering the stock tickers of interest using the
            <span class="fw-bold">Add Ticker</span> field. Each ticker must be valid and available in the Yahoo Finance
            database. After adding the tickers, specify the date range for the calculation, then click
            <span class="fw-bold">Submit</span> to generate a correlation matrix displaying the computed values.
        </p>
        <h5 class="section-heading mt-4 mb-2">Additional Calculation Options</h5>
        <p class="text-muted" style="text-align: justify;">
            You can choose whether to calculate correlations using daily returns or raw prices. By default,
            daily returns are used, but you can switch to raw prices by unchecking the
            <span class="fw-bold">Use Price Returns</span> option.
            <br><br>
            Additionally, you can decide whether to adjust the underlying price data for applicable corporate actions
            such as stock splits and dividend distributions. To use unadjusted price data, uncheck the
            <span class="fw-bold">Adjust for Corporate Actions</span> option.
        </p>
        <h5 class="section-heading mt-4 mb-2">Yahoo Finance API</h5>
        <p class="text-muted" style="text-align: justify;">
            Stock Correlations utilises Yahoo's publicly available APIs to obtain historical price data from
            Yahoo Finance using which the correlations are computed.
            <br><br>
            For more information on Yahoo's APIs, see
            <a href="https://developer.yahoo.com/api/" target="_blank" class="text-decoration-none">their official documentation</a>.
        </p>
    </div>
{% endblock content %}
