body {
    background: #fafafa;
    color: #333333;
    margin-top: 30px;
    padding-top: 40px;
}

h1, h2, h3, h4, h5, h6 {
  color: #869eb8;
}

/* Navigation bar styling */

.bg-steel {
  background-color: #b0c4de;
}

.site-header .navbar-nav .nav-link {
  color: #656565;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

/* User controls styling */

.controls-section {
    background: #f5f5f5;
    border: 1px solid #9c9c9c;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px 20px;
}

.ticker-input {
    min-width: 240px;
    padding-right: 10px;
    width: auto;
}

/* Correlations matrix styling */

.corr-table {
    border-collapse: collapse;
    border: 1px solid silver;
    font-family: Arial;
    font-size: 11pt;
    margin-top: 10px;
    width: 50%;
}

.corr-table td, th {
    border: 1px solid #9c9c9c;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
}

.corr-table tr:nth-child(even) {
    background: #eaeaea;
}

/* Matrix's top row styling */
.corr-table th {
    background-color: #b0c4de;
    color: #48494b;
}

/* Matrix's left-most column styling */
.corr-table th:first-child {
    background-color: #b0c4de;
    color: #48494b;
}

.corr-table tr:hover {
    background: silver;
    cursor: default;
}

/* Error message styling */

.error-message {
    color: red;
    font-size: 11pt;
    opacity: 0.7;
    margin-top: 12px;
    display: none;
}
